# Password for the "admin" user. This must be 5 characters minimum.
NTOP_PASSWD="MySecureNtopPasswd"

# Extra arguments to pass to the ntop daemon. Read ./src/ntop-5.0.1/ntop.8
# For rootless mode you certainly want at least --interface none so ntop does
# not try to open the container interface.
NTOP_ARGS="--skip-version-check"

# Set to "yes" to autoupdate GeoIP city and ASN databases on startup.
UPDATE_GEOIP="no"
